h1{
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
}
h2{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
}
.container{
    display: flex;
    justify-content: center;
   }
.centerText{
    display: flex;
    justify-content: center;
}
.centerTextUm{
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    text-indent: 20px;
    font-style: italic;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
    
}
.container img {
        max-width:500px;
        max-height:550px;
        width: auto;
        height: auto;
}