h1{
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
}
h2{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
}
h3{
    font-style: italic;
    font-size: 15px;
    color: #09619c;
}
.container{    
    text-align: center;
    justify-content: center;
}
.centerImg{
    text-align: center;
    position: relative;
    top: 30px;
}
.centerText{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 0.9;
}
p{
    display: flex;
    text-indent: 20px;
    font-style: italic;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    line-height: 1;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
    
}
.container img {
        max-width:500px;
        max-height:550px;
        width: auto;
        height: auto;
}