h1{
    color: #ff0000
}
p{
    color: #ff0000
}
.container{
    display: flex;
    justify-content: center;
   }
.centerText{
    display: flex;
    justify-content: center;
}
#objeto{
    background-color: #ddd;
    width:50%;
    margin:auto;
    }
    
    .style{
    text-align: center;
    }