body{
    background-color: #ffffff;
}
h1{
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #489fd1
}
h2{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #489fd1
}
h3{
    font-style: italic;
    font-size: 15px;
    color: #489fd1;
}

.centerText{
    text-align: center;
    justify-content: center;
    line-height: 0.9;
}
.textoCentral{
    
    font-style: italic;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    line-height: 1;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #489fd1;
    background-color: #ffa70536;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    
}
div{
    text-align: center;
}
p{
}
.posicionando{
    border-radius: 20px;
    margin: auto;
    border: 2px solid #489fd1;
    width: 560px;
    height: 460px;

}