h1{
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
}
h2{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
}
h3{
    font-style: italic;
    font-size: 15px;
    color: #09619c;
}
.container{    
    text-align: center;
    justify-content: center;
}
.centerImg{
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}
.centerText{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 0.9;
}
.textoCentral{
    text-indent: 20px;
    font-style: italic;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    line-height: 1;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09619c
    
}
.container img {
    max-width:500px;
    max-height:550px;
}

.zoomCroquete {
    width: 560px;
    height: 460px;
    overflow: hidden;
}  
.zoomCroquete img {
    width: 100%;
    transition: 1.1s all ease-in-out;
}
.zoomCroquete:hover img {
    transform: scale(1.1);
}
.zoomLentilha {
    width: 560px;
    height: 460px;
    overflow: hidden;
}  
.zoomLentilha img {
    width: 100%;
    transition: 1.1s all ease-in-out;
}
.zoomLentilha:hover img {
    transform: scale(1.1);
}
.zoomMandioquinha {
    width: 560px;
    height: 460px;
    overflow: hidden;
}  
.zoomMandioquinha img {
    width: 100%;
    transition: 1.1s all ease-in-out;
}
.zoomMandioquinha:hover img {
    transform: scale(1.1);
}
