@charset "UTF-8";

@font-face{
    font-family: 'namao';
    src: url('static/Caveat-Regular.ttf') format('truetype');
    font-weight:bolder;
    font-style: italic;
}

*{
    padding: 0px;
    margin: 0px;
}

main{
    margin: auto;
    max-width: 1920px;
}
img{
    width: 100%;
}
header{
    display: relative;
}
header > h1{
    text-align: center;
    padding-top: 20px;
    font: normal bold 50px 'namao';
    line-height: 50px;
}
header > p{
    text-align: center;
    padding-top: 20px;
    font: normal normal 35px 'namao';
    line-height: 30px;
    max-width: 500px;
}
#cen{
    margin: auto;
}